body {
  padding: 0;
  margin: 0;
  font: 14px "Source Sans Pro","Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none
}
/* Font classes*/
.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.semiBold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.ultraBold {
  font-weight: 900;
}

.regularSize {
  font-size: 15px;
}
.largeSize {
  font-size: 18px;
}
.xlargeSize {
  font-size: 22px;
}

.xxlargeSize {
  font-size: 24px;
}

.smallSize {
  font-size: 14px;
}

.xsmallSize {
  font-size: 12px;
}


/* Utility Classes */
.floatLeft {
  position: relative;
  float: left;
}

.seethrough30 {
  opacity: 0.3;
}
.seethrough60 {
  opacity: 0.6;
}

.seethrough75 {
  opacity: 0.75;
}

.popupWhite {
  background-color: rgba(249,249,249,0.9);
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: 1;
}

/* React Component Classes */

.listName {
  font-weight: 900;
  margin-left: 25px;
  letter-spacing: 1px;
}

.list {
  display: block;
  position: relative;
  float: left;
  padding: 50px 20px;
  width: 270px;
  border-right: solid 1px #E2E2E2;
  height:600px;
}

.listHeader {
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 25px;
}

.listCount {
  margin-left: 35px;
}

.jobCard {
  width: 230px;
  height: 35px;
  margin-bottom: 3px;
  padding: 20px;
  color: white;
  border-radius: 2px;
}

.jobCard img.logo {
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.jobCard p {
  text-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  margin: 0px 0px 0px 10px;
}

.newJobForm {
  text-align: center;
  padding-top: 200px;
  position: absolute;
  z-index: 2;
  margin-left: 40%;
}

.textField {
  width: 200px;
  height: 20px;
  border-style: none;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  margin-bottom: 8px;
  padding: 10px;
  font-family: "Source Sans Pro";
}

.submitButton {
    width: 220px;
    background-color: rgba(13,32,254,0.75);
    border-style: none;
    border-radius: 2px;
    height: 40px;
    color: white;
    font-weight: 400;
    font-family: "Source Sans Pro";
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

.newJobButton {
  border-style: none;
  border-radius: 2px;
  color: rgba(0,0,0,0.35);
  width: 100%;
  height: 60px;
  background-color: #EFEFEF;
  border: 1px dashed rgba(0,0,0,0.1);
  font-family: "Source Sans Pro";
  margin-top: 15px;
}

.newJobButton:hover {
  background-color: #ddd;
}

.header {
  height: 35px;
  padding: 7px 0px 3px 0px;
  position: absolute;
  background-color: rgba(255,255,255,0.85);
  z-index: 3;
  width: 100%;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
}

.dropdownContainer {
  position: relative;
  background-color: white;
  top: -91px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
  border-radius: 2px;
  overflow: scroll;
  height: 130px;
}

.dropdownContainer p {
  margin: 0;
  padding: 10px;
  text-align: left;
  height: 15px;
  color: #ddd
}

.dropdownContainer p:hover {
  background-color: #eee;
  color: #ddd;
}

.header span.logo {
  color: #0039FF;
  padding-left: 20px;
}

.listIcon {
  width: 15px;
}

.largeLogo {
  font-size: 50px;
  color: #0039FF;
  text-align: center;
  padding-top: 120px;
}

.subTitle {
  font-size: 22px;
  text-align: center;
}

.screenshotContainer {
    text-align: center;
    padding-top: 70px;
}

.google-login {
    text-align: center;
    background-color: rgba(13,32,254,0.75);
    padding: 10px 20px;
    color: white;
    border-radius: 2px;
    text-decoration: none,
}

.signInContainer {
    text-align: center;
    margin-top: 60px;
}

.deleteButton {
  display: block;
  opacity: 0.2;
  width: 10px;
  left: 228px;
  position: relative;
  margin-bottom: -10px;
  bottom: 8px;
}

.deleteButton:hover {
  opacity: 0.5;
}

.userInfo {
  float: right;
  margin-right: 20px
}

.userInfo span {
  color: #999;
  font-size: 13px;
}

.userInfo img {
  width: 20px;
  border-radius: 10px;
  margin-left: 10px;
  top: 5px;
  position: relative;
}

.addIcon {
  color: rgba(0,0,0,0.45);
  position: relative;
  top: 2px;
  margin-right: 6px;
}

.jobDetails {
  text-align: left;
  margin-top: 200px;
  position: absolute;
  z-index: 2;
  margin-left: 30%;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  width: 550px;
  border: 1px solid rgba(0,0,0,0.1);
}

.jobLogo {
  width: 40px;
  border-radius: 20px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
}

.sideBar {
  background-color: rgba(0,0,0,0.03);
  position: relative;
  float: right;
  width: 170px;
  padding: 30px 0px 30px 20px;
  border-left: 1px solid #ddd;
}

.sideBar li {
  opacity: 0.4;
  font-size: 13px;
}
.mainSection {
  padding: 30px;
  position: relative;
  float: left;
}